.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.Main>h1{
    font-size: 4rem;
}


.pfp{
    width: 15rem;
    height: 15rem;
    border: 4px solid var(--color-cream);
    border-radius: 50%;
      transition: ease-in-out 0.5s;
}

.pfp:hover{
    border: 4px solid var(--color-gray-blue);
    transition: ease-in-out 0.5s;
}

.details{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}