body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark-blue);
  color: var(--color-cream);
}
:root {
  --color-dark-blue: #182825;
  --color-gray-blue: #6F7D8C;
  --color-cream: #F7F3E3;
  --color-orange: #F17300;
  --color-pink: #E08DAC;
}

html {
  scroll-behavior: smooth;
}

h1{
    font-size: 5rem;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;
}